.App {
  text-align: center;
  background-color: white;
  width: 100%;

}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 99;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
       opacity: 1;
    }
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div.code-edit-holder {
  width: 50%;
  height: 100%;
  float: left;
}

div.partner-code {
  width:50%;
  height: 100%;
  float: right;
}

div.output-holder {
  position: fixed;
  top: 92%;
  width:25%;;
  height:8%;
  background-color: #FDF6E4;
  color: #6D7B80;
  text-align: left;
  font-size: 18px;
  z-index: 98;

}
div.code-challenge {
  margin-left: 10%;
  width:80%;
  height:300px;
  background-color: black;
  color: white;
  border: 2px solid #00ace6;
}

div.practice-challenge {
  margin-left: 50%;
  width:50%;
  height:200px;
  background-color: black;
  color: white;
  position: absolute;
}

.holder{
  color: #FF3B2B

}

div.logo-image {
  margin-left: 2%;
  content: url("https://i.imgur.com/Cn4iPR1.png");
  height: 85px;
  z-index: 98;
  float: left;
}

div.logo-image-landing {
  margin-top: 1%;
  position: absolute;
  margin-left: 10%;
  content: url("https://i.imgur.com/Cn4iPR1.png");
  height: 85px;
  z-index: 99;
  float: left;
}

div.header-login {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
  margin-left: 80%;
  text-shadow: 1px 1px black;
}

div.header-sign-up {
  font-size: 18px;
  height: 8%;
  padding-top: 1.5%;
  width: 8%;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 1.5%;
  position: absolute;
  z-index: 99;
  margin-left: 88%;
  border: 1px solid white;

  opacity: 1;
  transition: background-color 1.5s, color 1.5s;
}

div.header-sign-up:hover {
  background-color: white;
  color: black;
}

div.header-about {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
  margin-left: 60%;
  text-shadow: 1px 1px black;
}

div.header-about2 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
  margin-left: 90%;
}

div.header-FAQ {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
  margin-left: 70%;
  text-shadow: 1px 1px black;
}

div.landing-text {
  font-size: 34px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 20%;
  position: absolute;
  z-index: 99;
  margin-left: 10%;
  text-shadow: 1px 2px black;
}

div.landing-text2 {
  font-size: 34px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 24%;
  position: absolute;
  z-index: 99;
  margin-left: 10%;
  text-shadow: 1px 2px black;
}

div.landing-demo {
  font-size: 18px;
  color: white;
  font-family: 'Roboto',serif;
  margin-top: 36%;
  position: absolute;
  z-index: 99;
  margin-left: 10%;
  border: 1px solid #FB3D35;
  padding: 1%;
  width: 10%;
  background-color: #FB3D35;
  transition: background-color 1s, color 1.5s, border 1s;
}

div.header-FAQ {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  margin-top: 3%;
  position: absolute;
  z-index: 99;
  margin-left: 70%;
  text-shadow: 1px 1px black;

}

div.landing-main {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/VOnwYog.png");
  background-position: center;
  background-size: cover;
  background-color: white;
}

div.landing-footer {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/c5jhVAZ.png");
  background-position: center;
  background-size: cover;
  background-color: #092938;
}

div.footer-holder {
  height: 50%;
  width: 100%;
}

div.landing-demo:hover {
background-color: #FC7E7A;
color: white;
border: 1px solid #FC7E7A;
}

div.landing-text-body {
  font-size: 18px;
  color: white;
  font-family: 'Roboto',serif;
  margin-top: 28%;
  position: absolute;
  z-index: 99;
  margin-left: 10%;
  text-shadow: 1px 1px black;
  width: 33%;
  text-align: left;
  text-shadow: 1px 1px black;
}


div.header {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #00ace6;
}

div.title-logo {
  font-size: 58px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  float: left;
  margin-top: 1%;
  margin-left: 2%;
}

div.bg {
  background-image: url("https://cdn-images-1.medium.com/max/800/0*vwktgSPc1VQRLB_r.png");
  width: 100%;
  height: 100%;
  background-size: cover;


}


.run-code {
  position: fixed;
  top: 92%;
  left: 25%;
  width: 25%;
  height: 8%;
  font-weight: bold;
  font-size: 56px;
  background-color: #00ace6; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  cursor: pointer;
  z-index: 99;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editor {
  position: relative;
  height: 100%;
}

.mode-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.button-holder{
  background-color: white;
}

div.button-holder2{
  background-color: white;
  height: 62px;
}

div.background-container{
  height: 100%;
  width: 100%;
}

div.color-overlay{
  height: 100%;
  background-color: #00ace6;
  z-index: 97;
  opacity: 0.3;
}

.parallax {
    /* The image used */
    background-image: url("https://cdn-images-1.medium.com/max/800/0*vwktgSPc1VQRLB_r.png");

    /* Full height */
    height: 850px;
    width: 100%;
    z-index: 92;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.input-holder {
  margin-top: 32%;
  position: absolute;
  z-index: 99;
  margin-left: 10%;
  text-shadow: 1px 1px black;
  width: 50%;
}

input[type=text]{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}

.button2 {
  background-color: #272823;
  color: #74705F;} /* Blue */

.button3 {
  background-color: #02233F;
  color: #148AFB;} /* Red */

.button4 {
  background-color: #282B36;
  color: #6273A2;} /* Gray */

.button5 {
  background-color: #0B0B0B;
  color: #21D45D;} /* Black */

.button6 {
  background-color: ##39d656;
  color: white;} /* Black */

.button7 {
  background-color: #FB3D35;
  color: white;} /* Black */

.button8 {
  background-color: #ff701e;
  color: white;} /* Black */

.alert {

  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  width: 50%;
  height: 10%;
  z-index: 95;
  background-color: #00cc00;
  opacity: 0.8;
  color: white;
  top: 65%;
  left: 25%;
}

@keyframes cssAnimation {
  0% {
      opacity: 0;
  }
  16% {
     opacity: 1;
  }
  84% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
      opacity: 0;
  }
  16% {
     opacity: 1;
  }
  84% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}
