.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div.code-edit-holder {
  width: 50%;
  height: 100%;
  float: left;
}

div.partner-code {
  width:50%;
  height: 100%;
  float: right;
}

div.output-holder {
  position: fixed;
  top: 92%;
  width:25%;;
  height:8%;
  background-color: #FDF6E4;
  color: #6D7B80;
  text-align: left;
  font-size: 18px;
  z-index: 98;

}
div.code-challenge {
  margin-left: 20%;
  width:60%;
  height:200px;
  background-color: black;
  color: white;
}

.holder{
  color: #FF3B2B

}

div.logo-image {
  margin-left: 2%;
  content: url("https://i.imgur.com/Cn4iPR1.png");
  height: 85px;
  z-index: 99;
  float: left;
}

div.header {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #00ace6;
}

div.title-logo {
  font-size: 58px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto',serif;
  float: left;
  margin-top: 1%;
  margin-left: 2%;
}


.run-code {
  position: fixed;
  top: 92%;
  left: 25%;
  width: 25%;
  height: 8%;
  font-weight: bold;
  font-size: 56px;
  background-color: #00ace6; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  cursor: pointer;
  z-index: 99;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.editor {
  position: relative;
  height: 100%;
}

.mode-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.button-holder{
  background-color: white;
}

div.button-holder2{
  background-color: white;
  height: 56px;
}

.button2 {background-color: #272823;
  color: #74705F;} /* Blue */
.button3 {background-color: #02233F;
  color: #148AFB;} /* Red */
.button4 {background-color: #282B36; color: #6273A2;} /* Gray */
.button5 {background-color: #0B0B0B; color: #21D45D;} /* Black */
